@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

$percent-100: 100%;
$percent-96: 96%;
$percent-33: $percent-100 / 3.0;
$percent-4: 0.04 * $percent-33;


body {
    font-family: 'Roboto', serif !important;
}

root {
    background-color: #fff !important;
}

.div-border-box {
    box-sizing: border-box;
}

.text-header {
    font-size: 1.7rem;
    color: #223C60;
}

.left-box {
    margin-right: 0.5 * $percent-4;
}

.key-panel {
    width: 100%;
    padding-top: 100%;
    position: relative;
}

.square-key {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.key-rectangle-panel {
    width: 100%;
    padding-top: 48%;
    position: relative;
}

.rectangle-key {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.key-rectangle-h {
    width: 100%;
    padding-bottom: 200% + 0.04 * $percent-100;
    position: relative;
}

.h-key {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.one-third {
    width: $percent-33 - $percent-4 !important;
    margin-bottom: $percent-4;
}

.two-thirds {
    width: 2* $percent-33 - $percent-4 !important;
    margin-bottom: $percent-4;
}

.right-btns {
    width: $percent-96;
    margin-bottom: 0.04 * $percent-100;
    text-align: center;
    align-items: center;
    align-content: center;
}

.key-numbers {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #51555b;
    box-shadow: black 3px 3px 5px;
    color: white;
    text-align: center;
    font-size: 1.5rem;
}

.key-operators {
    @extend .key-numbers;
    background-color: #2e2f31 !important;
}

.zero-operator {
    @extend .key-numbers;
    background-color: #51555b !important;
}

.equal-operator {
    @extend .key-numbers;
    background-color: rgb(0, 68, 102);
}

.clear-operator {
    @extend .key-numbers;
    background-color: rgb(172, 57, 57);
}

.display-operation {
    background-color: #223C60;
    color: #fff;
    box-shadow: black 3px 3px 5px;
}

#display {
    font-size: 1.3rem;
}
@media (min-width: 768px ) {
    .text-header {
        font-size: 3.5rem;
    }

    .key-numbers {
        font-size: 2.5rem;
    }

    #display {
        font-size: 2.5rem;
    }
}

@media (min-width: 1024px) {

    .text-header {
        font-size: 4.5rem;
    }
}

@media (min-width: 1280px) {
    .text-header {
        font-size: 2rem;
    }

    .key-numbers {
        font-size: 1.8rem;
    }

    #display {
        font-size: 1.8rem;
    }

}
